@font-face{
  font-family: "Mulish";
  src: local("/static/fonts/Mulish/Mulish-ExtraBold.ttf");
  src: local("/static/fonts/Mulish/Mulish-Bold.ttf");
  src: local("/static/fonts/Mulish/Mulish-SemiBold.ttf");
  src: local("/static/fonts/Mulish/Mulish-Medium.ttf");
  src: local("/static/fonts/Mulish/Mulish-Regular.ttf");
  src: local("/static/fonts/Mulish/Mulish-Light.ttf");
  src: local("/static/fonts/Mulish/Mulish-ExtraLight.ttf");
}


h1, h2, h3, h4, h5{
  font-family: Mulish, sans-serif;
}

p, a{
  font-family: Mulish, sans-serif;
}