// compress: true
@import '~antd/lib/style/themes/default.less';
@import '~antd/dist/antd.less';
@import "../colors";
@import "../menu";
@import "./fonts";

html,body{
  margin: 0;
  padding: 0;
}

body{
  background-color: #EEEEEE !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.ant-layout-sider-trigger{
  background-color: #363740;
}