// compress: true

@primary-color: #3751FF; // primary color for all components
@link-color: #1890ff; // link color
@success-color: #52c41a; // success state color
@warning-color: #faad14; // warning state color
@error-color: #f45353; // error state color
@font-size-base: 14px; // major text font size
@heading-color: #252733; // heading text color
@text-color: #252733; // major text color
@text-color-secondary: #838590; // secondary text color
@disabled-color: rgba(0, 0, 0, 0.25); // disable state color


@menu-dark-bg: #363740;
@menu-dark-item-active-bg: #3E4049;
@menu-dark-color: #dde2ff;