.ant-menu-vertical{
  .ant-menu-item-selected{
    border-left: 3px solid #DDE2FF;
    .ant-menu-title-content{
      margin-left: 15px;
    }
  }
  .ant-menu-item{
    .ant-menu-title-content{
      margin-left: 15px;
    }
  }
}